####################
# CircleCI configuration reference:
#   https://circleci.com/docs/2.0/configuration-reference
####################

version: 2

#####################################################
# Jobs: see https://circleci.com/docs/2.0/jobs-steps/
#####################################################

jobs:
  test:
    docker: &docker
      - image: circleci/python:3.7.2
    steps:
      - checkout
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote
      - run:
          name: Run tests
          command: |
            python3 -m virtualenv venv
            . venv/bin/activate
            make install-requirements
            make lint
            make test
            make coverage

  docs-build:
    docker: *docker
    steps:
      - checkout
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote
      - run:
          name: Build docs
          command: |
            python3 -m virtualenv venv
            . venv/bin/activate
            make install-requirements
            pip install pdoc
            pdoc -o /tmp/_html ./mozilla_schema_generator
      - persist_to_workspace:
          root: /tmp
          paths: _html

  docs-deploy:
    docker:
      - image: node:14
    steps:
      - checkout
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote
      - attach_workspace:
          at: /tmp
      - run:
          name: Install and configure dependencies
          command: |
            npm install -g --silent gh-pages@3.0.0
            git config user.email "ci-build-docs@mozilla.com"
            git config user.name "ci-build-docs"
      - add_ssh_keys:
          fingerprints:
            - "2d:8d:b3:4c:6d:56:0d:9c:b1:8d:99:8c:b0:de:4b:56"
      - run:
          name: Deploy docs to gh-pages branch
          command: gh-pages --message "[skip ci] updates" --dist /tmp/_html

  deploy:
    docker:
      - image: docker:20.10.2
    working_directory: ~/mozilla/mozilla-schema-generator
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.2
      - run: |
          printf '{"commit":"%s","version":"%s","source":"https://github.com/%s/%s","build":"%s"}\n' "$CIRCLE_SHA1" "$CIRCLE_TAG" "$CIRCLE_PROJECT_USERNAME" "$CIRCLE_PROJECT_REPONAME" "$CIRCLE_BUILD_URL" > version.json
      - run: docker build -t app:build .
      - run:
          name: Deploy to Dockerhub
          command: |
            # Deploy main
            if [ "${CIRCLE_BRANCH}" == "main" ]; then
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              docker tag app:build ${DOCKERHUB_REPO}:latest
              docker push ${DOCKERHUB_REPO}:latest
            elif  [ ! -z "${CIRCLE_TAG}" ]; then
            # Deploy a release tag...
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              echo "${DOCKERHUB_REPO}:${CIRCLE_TAG}"
              docker tag app:build "${DOCKERHUB_REPO}:${CIRCLE_TAG}"
              docker images
              docker push "${DOCKERHUB_REPO}:${CIRCLE_TAG}"
            fi

  schema-diff:
    docker:
      - image: docker:stable-git
    steps:
      - checkout
      - run: &checkout_upstream
          name: Checkout upstream
          command: |
            git remote add upstream https://github.com/mozilla-services/mozilla-pipeline-schemas.git
            git fetch --all
      - setup_remote_docker:
          docker_layer_caching: true
          version: 20.10.7
      - run:
          name: Build Docker image
          command: docker build --pull -t mps .
      - run:
          name: Test Code
          command: docker run mps
      - run:
          name: Verify that all generated schemas are committed
          command: docker run -w /app mps scripts/assert-consistent-schemas
      - run:
          name: Verify set version in telemetry namespace is correct
          command: docker run -w /app mps scripts/assert-telemetry-version
      - run:
          name: Generate diff artifacts for bigquery
          command: |
            # compare a branch against the main branch, or against the previous
            # commit if we're already on the main branch
            base=upstream/main
            if [[ "$CIRCLE_BRANCH" == "main" ]]; then
              base=HEAD~1
            fi
            docker run --name mps -w /app mps \
              mps bigquery diff --base-ref "$base"
            docker cp mps:/app/integration /tmp/integration
      - persist_to_workspace:
          root: /tmp
          paths:
            - integration

  post-artifacts:
    docker:
      - image: circleci/node:8.10.0
    steps:
      - checkout
      - attach_workspace:
          at: /tmp
      - run: npm i circle-github-bot
      - run: .circleci/post-artifact.js
      - store_artifacts:
          path: /tmp/integration
          destination: /app/integration

#########################################################
# Workflows: see https://circleci.com/docs/2.0/workflows/
#########################################################

workflows:
  version: 2
  commit:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/

      - docs-build:
          filters:
            tags:
              only: /.*/

      - docs-deploy:
          requires:
            - test
            - docs-build
          filters:
            branches:
              only: main

      - deploy:
          requires:
            - test
          filters:
            tags:
              only: /.*/
            branches:
              only: main

      - schema-diff:
        requires:
          - test
        filters:
            tags:
              only: /.*/

      - post-artifacts:
            requires:
              - schema-diff

  nightly: # Test nightly to test external dependencies (MPS, probe-info-service)
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
