####################
# CircleCI configuration reference:
#   https://circleci.com/docs/2.0/configuration-reference
####################

version: 2

#####################################################
# Jobs: see https://circleci.com/docs/2.0/jobs-steps/
#####################################################

jobs:
  test:
    docker: &docker
      - image: circleci/python:3.7.2
    steps:
      - checkout
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote
      - run:
          name: Run tests
          command: |
            python3 -m virtualenv venv
            . venv/bin/activate
            make install-requirements
            make lint
            make test
            make coverage
      - run:
          name:
            pip install pdoc
      - run:
          name: Build docs
          command: pdoc -o _html generator
      - persist_to_workspace:
          root: docs/_build
          paths: _html

  docs-deploy:
    docker:
      - image: node:14
    steps:
      - checkout
      - attach_workspace:
          at: docs/_build
      - run:
          name: Install and configure dependencies
          command: |
            npm install -g --silent gh-pages
            git config user.email "ci-build-docs@mozilla.com"
            git config user.name "ci-build-docs"
      - run:
          name: Deploy docs to gh-pages branch
          command: gh-pages --dist docs/_build

  deploy:
    docker:
      - image: docker:20.10.2
    working_directory: ~/mozilla/mozilla-schema-generator
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.2
      - run: |
          printf '{"commit":"%s","version":"%s","source":"https://github.com/%s/%s","build":"%s"}\n' "$CIRCLE_SHA1" "$CIRCLE_TAG" "$CIRCLE_PROJECT_USERNAME" "$CIRCLE_PROJECT_REPONAME" "$CIRCLE_BUILD_URL" > version.json
      - run: docker build -t app:build .
      - run:
          name: Deploy to Dockerhub
          command: |
            # Deploy main
            if [ "${CIRCLE_BRANCH}" == "main" ]; then
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              docker tag app:build ${DOCKERHUB_REPO}:latest
              docker push ${DOCKERHUB_REPO}:latest
            elif  [ ! -z "${CIRCLE_TAG}" ]; then
            # Deploy a release tag...
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              echo "${DOCKERHUB_REPO}:${CIRCLE_TAG}"
              docker tag app:build "${DOCKERHUB_REPO}:${CIRCLE_TAG}"
              docker images
              docker push "${DOCKERHUB_REPO}:${CIRCLE_TAG}"
            fi

#########################################################
# Workflows: see https://circleci.com/docs/2.0/workflows/
#########################################################

workflows:
  version: 2
  commit:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/

      - docs-deploy:
          requires:
            - test
          filters:
            branches:
              only: docs

      - deploy:
          requires:
            - test
          filters:
            tags:
              only: /.*/
            branches:
              only: main

  nightly: # Test nightly to test external dependencies (MPS, probe-info-service)
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - test
